@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TicketDesk forside</h1>
    <hr/>
    <div class="row">
        <p class="display-6">Open tickets: @Model.Open</p>
        <p class="display-6">Paused tickets: @Model.Paused</p>
        <p class="display-6">Resolved tickets: @Model.Resolved</p>
        <p class="display-6">Closed tickets: @Model.Closed</p>
    </div>
    
</div>